# Byte-code files
*.pyc
__pycache__/

# Environments
.venv/
venv/
env/

# Sensitive files
.env

# Output files
output/

# Cache & Logs
cache.db
logs/
*.log

# IDE specific files
.vscode/

# Package dependencies
*.egg-info/
.eggs/
dist/
build/
